*{
    background-color: rgb(114, 173, 224);
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    margin:0;
}
.calculator{
    border: 5px solid #ccc;
    border-radius:5px;
    padding: 20px;
    width: 200px
}
.calculator_display{
    border: 5px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.calculator_keys{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.calculator_key--wide{
    grid-column: 1 / -1;
}
button{
    background-color: #e6e6e6;
    color:#000;
    width:25px;
    height:25px;
    margin:2px;
    cursor:pointer;
}
button:hover{
    background-color: #d9d9d9;
}


