*{
    background-color:blanchedalmond;
}
body{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width:100vw;
    height:100vh;
}
.calculator{
    border:5px solid blue;
}
.btn{
    height:50px;
    width:50px;
    margin:15px;
    font-size:40px;
}
.number{
    border:1px solid greenyellow;
    border-radius:10px;
}
.operator{
    border:1px solid blue;
    border-radius:10px;
}
.decimal{
    border:1px solid red;
    border-radius:10px;
}
.equal{
    border:1px solid gold;
    border-radius:10px;
}
#clear-btn{
    border:1px solid pink;
    border-radius:10px;
}

.number:hover{
    background-color:green;
}
.operator:hover{
    background-color:blue;
}
.decimal:hover{
    background-color:red;
}
.equal:hover{
    background-color:gold;
}
#clear-btn:hover{
    background-color:red;
}

.first-row{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
}
#screen{
    width:225px;
    border:2px solid blue;
    height: 65px;
    margin:15px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.previous{
    font-size:20px;
}
.current{
    font-size:30px;
}